body {
    background-color: #e1e1e1;
}

ol, ul {
    padding: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.navbar-search {
    background: #313131;
    border: none;
    color: #999;
}

.navbar-search:hover {
    background: #fff;
}

.content {
    margin-bottom: 15px;
}

.content__topic_list {
    background-color: #fff;
    margin-bottom: 13px;
}

.content__header {
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}


.topic_list__cell {
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
    line-height: 2em;
    border-top: 1px solid #f0f0f0;
}

.topic_list__cell:hover {
    background-color: #f5f5f5;
}

.user__img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.reply_count {
    width: 70px;
    display: inline-block;
    text-align: center;
}

.count_of_replies {
    color: #9e78c0;
}

.count_seperator {
    font-size: 10px;
}

.count_of_visits {
    font-size: 10px;
    color: #b4b4b4;
}

.last_time {
    font-size: 11px;
    display: inline-block;
    margin-left: 20px;
    color: #777;
}

.user__small_img {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: .5em;
    border-radius: 3px;
}

.last_active_time {
    text-align: right;
    min-width: 50px;
    display: inline-block;
    white-space: nowrap;
}

.topic_title {
    color: #333;
    max-width: 70%;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic_title:visited {
    color: #888;
}

.topic_title_wrapper {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.topic__put_top {
    background-color: #80BD03;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    margin-right: 3px;
}

.topic__list_tab {
    background-color: #e5e5e5;
    padding: 2px 4px;
    border-radius: 3px;
    color: #999;
    font-size: 12px;
    margin-right: 3px;
}

.sidebar__panel {
    font-size: 13px;
    margin-bottom: 13px;
    line-height: 2em;
}

.sidebar__panel__login {
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    padding: 10px;
}

.sidebar__panel__login_title {
    font-size: 14px;
    word-break: break-word;
}

.sidebar__panel__github_login {
    display: inline-block;
    float: none;
    padding: 3px 10px;
    border: none;
    margin: 0;
    font-size: 14px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: none;
    border-radius: 3px;
    line-height: 2em;
    vertical-align: middle;
    color: #fff;
    background-color: #5bc0de;
}

.sidebar__panel__github_login:hover {
    background-color: #2f96b4;
}

.sidebar__panel__header {
    color: #51585c;
    border-radius: 3px 3px 0 0;
    background-color: #f6f6f6;
    padding: 10px;
}

.sidebar__panel__header_span {
    color: #444;
}

.sidebar__panel__inner {
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    padding: 10px;
}

.sidebar__title {
    color: #778087;
    min-width: 250px;
    font-size: 14px;
    white-space: nowrap;
    line-height: 30px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebar__title:link {
    text-decoration: none;
}

.sidebar__title:hover {
    color: #778087;
}

.ranking__link, .ranking__link:link {
    text-decoration: none;
    color: #666;
}

.inner__ranking__list {
    margin: 4px 0;
    list-style: none;
}

.ranking__score {
    color: gray;
    padding: 2px;
    margin-right: 10px;
}

.ranking__user_name {
    color: #778087;
}

.inner__links__img {
    width: 150px;
    margin-bottom: 10px;
}

.inner__qrcode {
    width: 200px;
}

.qrcode--center {
    text-align: center;
}

.source_address {
    color: #778087;
}


.footer {
    background-color: #fff;
    /*max-width: 1400*/
    color: #e2e2e2;
    padding: 20px 0;
    font-size: 13px;
    line-height: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer__links__a, .footer__links__a:link {
    color: #666;
    text-decoration: none;
}

.footer__info {
    color: #ababab;
}

.pagination {
    margin: 10px 0 0 10px;
    height: 40px;
}

.pagination li.active a{
    color: #80bd01;
}

.pagination li.disabled a:hover {
    color: #999;
    cursor: default;
    background-color: transparent;
}

/* 新手入门分页 */
.left_content__header {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}

.breadcrumb {
    padding: 0;
    margin: 0;
    border: none;
}

.breadcrumb a {
    color: #80bd01;
}

.inner_content {
    padding: 10px 20px;
    border-top: 1px solid #e5e5e5;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    line-height: 2em;
}

.inner__title--first {
    margin: 0;
}

.inner_content__title {
    /*font-size: 26px;*/
    line-height: 40px;
    border-bottom: 1px solid #eee;
    margin-top: 30px 0 15px;
}

.inner_content__info {
    font-size: 15px;
    line-height: 1.7em;
    overflow: auto;
    margin: 1em 0;
}

.inner_content__link {
    color: #08c;
}

.about_links {
    width: 250px;
    height: 60px;
}


/* 登陆页面 */
.login_form {
    margin-top: 40px;
}

.login__group {
    margin-bottom: 20px;
}

.login__group__label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    line-height: 20px;
}

.login__group__input {
    margin-left: 180px;
    width: 270px;
    padding: 4px 6px;
}

.login__form-actions {
    border-top: none;
    background-color: #fff;
    max-height: 40px;
    padding: 19px 20px 20px 180px;
    margin-bottom: 50px;
}

.login__info-span {
    margin-left: 5px;
}

.login__forgot_password {
    margin-left: 1em;
    color: #778087;
}

a.login__forgot_password:hover {
    color: #778087;
}
